@model FinalProject.Models.FeedOptions
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="form-group">
	<fieldset>
		<legend>FEED ME</legend>
		@using (Html.BeginForm("Index", "ChatBot", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
			{
			@Html.AntiForgeryToken()
			<label for="bibble">Bibble</label>
			@Html.EditorFor(x => x.Bibble)<br />
			<label for="smash">Smash Bros Fanfic</label>
			@Html.EditorFor(x => x.Smash)<br />
			<label for="pdf">PDF</label>
			@Html.EditorFor(x => x.PDF)<br />
			<label for="custom">Enter Your Own Text</label><br />
			@Html.TextAreaFor(x => x.CustomText, new { rows = 10, cols = 100 })<br />
			<label for="file">Upload a File (.txt or .pdf)</label>
			@Html.TextBoxFor(x => x.CustomFile, new { type = "file" })<br />
			@Html.ValidationMessageFor(x => x.CustomFile, "", new { @class = "error" })<br />
			<input type="submit" value="Apply Selection" class="btn btn-info pull-Left" />
			}
		@if (ViewBag.Message != null)
		{
			<script type="text/javascript">
				window.onload = function () {
					alert("@ViewBag.Message");
				}
			</script>
		}
	</fieldset>
</div>
@Html.ActionLink("Generate Wisdom", "Generate", "ChatBot")

